$color-default: #252525;
$color-primary: #5a95f5;
$color-secondary: #0a234b;
$color-tertiary: #204481;
$color-disable: #767676;
$color-contrast: #ffffff;
$color-error: #ee6161;
$color-heart: #C61400;
$color-waiting: #ff4d00;
$color-point-green: #007b0c;
$color-point-pink: #ee6161;

$text-decoration: #5A95F599;

$background-default: #ffffff;
$background-primary: #5a95f5;
$background-secondary: #0a234b;
$background-tertiary: #204481;
$background-foundation: #fafafa;
$background-disable: #eeeeee;
$background-modal: #000000b2;
$background-filter: rgba(0, 0, 0, 0.5);
$background-error: #EE6161;
$background-dark: #2D2C2C;
$background-point-green: #007b0c;
$background-point-pink: #ee6161;

$border-default: #252525;
$border-primary: #5a95f5;
$border-secondary: #0a234b;
$border-tertiary: #204481;
$border-disable: #d6d6d6;
$border-section: #999999;
$border-contrast: #ffffff;
$border-error: #ca6165;

$box-shadow-focus: 1px 1px 2px 0 #63636319;
$box-shadow-solid: 4px 4px 10px #0000003F;

// set background filter, white font color, set secondary color
